---
// Component Imports
import Item from '../components/Item';
import products from '../data/items.json';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 1rem;
			}

			@media screen and (min-width: 600px) {
				body {
					padding: 2rem;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Bazar do Carlinhos
				🇧🇷	🇵🇹</h1>
			{products.map(p => <Item item={p} client:load />)}
		</main>
		<div id="modal-root"></div>
	</body>
</html>
